@charset "UTF-8"

p {
font-family: Arial, Helvetica, sans-serif;


}
body{
    background-image: linear-gradient(to right, #F79E20,#01FA72);
}
main{
background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 5px red ;
width: 600px;
padding: 10px;
margin: auto;

}
h1{
color: #0D6133;
text-align: center;
text-shadow: 1px 1px 1px black;

}
h2{
color: rgb(62, 109, 238);

}

p{
text-align: justify;

}